.container {
    @apply block relative pl-[22px] cursor-pointer text-[12px] select-none w-fit;
}

.container input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

.checkmark {
    @apply absolute top-[2px] left-0 h-[14px] w-[14px] rounded-[2px] bg-lightblue;
    @apply 4xl:transform 4xl:-translate-y-1/2 4xl:top-1/2;
}

.container input:checked ~ .checkmark {
    @apply bg-purple-500;
}

.checkmark:after {
    @apply absolute hidden;
    content: '';
}

.container input:checked ~ .checkmark:after {
    @apply block;
}

.container .checkmark:after {
    @apply left-[4px] top-[1px] w-[5px] h-[9px] border-white border-l-0 border-t-0 border-r-[2px] border-b-[2px] transform rotate-45;
}

.customCheckbox {
    background-color: var(--backgroundColor, transparent);
    border: 1px solid var(--borderColor, black);
    width: 16px;
    height: 16px;
    display: inline-block;
}

.customCheckbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 12px;
    border: solid var(--checkedColor, black);
    border-width: 0 2px 2px 0;
    visibility: hidden;
}

.container input:checked ~ .checkmark::after {
    visibility: visible;
}
