.floating {
    position: relative;
    @apply !h-[50px] bg-gray-100 w-full text-black;
}

.floating select {
    @apply bg-gray-100 w-full h-full p-3 text-[16px];
}

.floating select:focus,
.floating select:active {
    outline: none;
}

.underline {
    @apply relative after:block after:content-[''] after:absolute after:h-[2px] after:left-0;
    @apply after:bg-gray-300 after:w-full after:scale-x-[0];
    @apply after:transition-all after:duration-300 after:origin-left;
    @apply focus-within:after:scale-x-100 focus-within:after:bg-lightblue;
    @apply hover:after:scale-x-100;
}

.floating select + label {
    position: absolute;
    pointer-events: none;
    bottom: 0.8em;
    left: 0.5em;
    color: gray;
    transition:
        margin 0.2s ease,
        color 0.2s ease,
        font-size 0.2s ease;
    @apply text-[16px] text-gray-500;
}

.float-input:focus + label,
.float-input:active + label,
.float-input:valid + label {
    pointer-events: auto;
    margin-bottom: 1.6em;
    font-size: 0.8em;
}

.float-input-w-icon:focus + label,
.float-input-w-icon:active + label,
.float-input-w-icon:valid + label {
    pointer-events: auto;
    margin-bottom: 1.6em;
    margin-left: -2.1em;
    font-size: 0.8em;
}

.floating select:focus + label,
.floating select:active + label {
    @apply text-lightblue;
}

.floating select.empty:not(:focus) + label,
.floating select.empty:not(:active) + label {
    pointer-events: none;
    margin-bottom: 0;
    color: gray;
    font-size: 16px;
}
